:root {
    --main-bg-color: black;
    --main-text-color: white;
    --accent-color: violet;
    --code-color: greenyellow;
    --sidebar-width: 250px;
    --sidebar-collapsed-width: 55px;
}

/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

body {
    display: flex;
    justify-content: center;
}

/* Typography */
h1 { font-size: 2em; font-weight: bold; }
h2 { font-size: 1.25em; font-style: italic; }
h3 { font-size: 1em; font-weight: bold; }

code { color: var(--code-color); }

/* Links */
a { color: var(--main-text-color); text-decoration: none; }
a:hover { color: var(--accent-color); text-decoration: None; }

p a { color: var(--code-color); }

/* Layout Elements */
.header-line {
    border-top: 3px dashed var(--main-text-color);
    margin: 20px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

img {
    max-width: 100%;
    height: auto;
}

/* ASCII Art */
.ascii-art {
    white-space: pre;
    font-family: monospace;
    margin: 0 2vw;
}

/* Containers */
.ascii-art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container {
    width: min(100%, 1000px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Flexible column layout */
    gap: 10px;
    padding: 10px;
}

.image-grid img {
    width: 100%;    /* Make each image fill its grid cell */
    height: auto;   /* Maintain aspect ratio */
}

.image-grid b {
    width: 100%;    /* Make each image fill its grid cell */
    height: auto;   /* Maintain aspect ratio */
}

.image-grid p {
    width: 100%;    /* Make each image fill its grid cell */
    height: auto;   /* Maintain aspect ratio */
    font-size: 0.8em;
    margin: 0;
}

.img-text-container {
    display: flex;                  /* Enable flexbox layout */
    justify-content: space-between; /* Space items out */
    padding: 2vw;                  
}

.img-text-container .text {
    flex: 1;                        /* Allow text to take available space */
    margin-left: 1vw;               /* Space between text and image */
}

.img-text-container .img {
    max-width: 50%;
    height: auto;
    margin-right: 5vw;
}

@media (max-width: 600px) {
    p, li {
        font-size: 0.75em;
    }
    .img-text-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%
    }
    .img-text-container .img {
        max-width: 100%;
        height: auto;
    }
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 3px dashed var(--main-text-color);
}

.sidebar-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: var(--sidebar-collapsed-width);
    margin-top: 20px;
    padding-right: 8px; /* Add right padding to match the toggle button */
}

.toggle-btn {
    padding: 8px;
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 1em;
    transition: 0.3s;
}

.toggle-btn:hover {
    color: var(--accent-color);
}

.sidebar a {
    padding: 8px;
    font-size: 1em;
    display: block;
}

#main {
    transition: margin-left .5s;
    max-width: 1000px;
    padding: 0 16px;
    box-sizing: border-box;
    margin-left: var(--sidebar-width);
    margin-right: auto;
}

.sidebar-collapsed {
    width: var(--sidebar-collapsed-width);
}

.sidebar-collapsed .sidebar-content {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    p, li { font-size: 0.75em; }

    .ascii-art-container {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .ascii-art {
        width: 100%;
        margin: 0;
        font-size: 2.72vw;
    }

    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .img-text-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .img-text-container .text-container,
    .img-text-container .image-container {
        max-width: 100%;
    }

    .sidebar {
        width: var(--sidebar-collapsed-width);
    }

    .sidebar-content {
        display: none;
    }

    #main {
        margin-left: var(--sidebar-collapsed-width);
        padding: 5px;
    }

    .sidebar-expanded {
        width: var(--sidebar-width);
    }

    .sidebar-expanded .sidebar-content {
        display: block;
    }

    .sidebar a, .sidebar-expanded a {
        font-size: 0.75em;
    }
}

@media screen and (min-width: 1500px) {
    #main {
        margin-left: calc(var(--sidebar-width) + (100vw - 1500px) / 2);
    }
}

@media (max-width: 250px) {
    .sidebar-header {
        flex-direction: column;
        align-items: center;
    }
}
.sidebar-content ol {
    list-style-type: none;
    padding-left: 0;
}

.sidebar-content ol ol {
    margin-left: 20px;
    display: none;
}

.sidebar-content li.active > ol {
    display: block;
}

.sidebar-content li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 8px; /* Add right padding to match the toggle button */
}

.sidebar-content li > a {
    flex-grow: 1;
    padding: 8px 0 8px 8px; 
}

.caret {
    cursor: pointer;
    user-select: none;
    padding: 8px 0; /* Remove horizontal padding */
    transition: color 0.3s;
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.caret:hover {
    color: var(--accent-color);
}

.sidebar-content li.active > a {
    font-weight: bold;
}

/* .sidebar-content .sidebar-list {
    list-style-type: decimal !important;
    padding-left: 20px !important;
}

.sidebar-content .sidebar-list ol {
    list-style-type: lower-alpha !important;
    padding-left: 20px !important;
} */

.sidebar-list {
    list-style-type: decimal;
    padding-left: 20px;
}

.sidebar-list ol {
    list-style-type: lower-alpha;
    padding-left: 20px;
}

.sidebar-list li {
    margin-bottom: 5px;
}
